.profile {
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 470px;
    box-sizing: border-box;
    padding: 74px 30px 70px 30px;
}

@media only screen and (max-width: 1024px) {
    .profile {
        grid-template-rows: 1fr 1fr 2fr;
        padding: 162px 30px 343px 30px;
    }
}

@media only screen and (max-width: 767px) {
    .profile {
        grid-template-rows: 84px 2fr 4fr;
        padding: 74px 30px 40px 30px;
    }
}

.profile__content {
    display: contents;
}

.profile__greeting {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
    margin: 0;
}

.profile__fields {
    margin-top: 15px;
}

@media only screen and (max-width: 1024px) {
    .profile__fields {
        margin-top: 0;
    }
}

@media only screen and (max-width: 767px) {
    .profile__fields {
        margin-top: 5px;
    }
}

.profile__field {
    display: grid;
    grid-template-columns: max-content 1fr;
    align-items: center;
    gap: 2px;
    padding: 12px 0 4px 0;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
}

.profile__field:not(:last-child) {
    border-bottom: #424242 1px solid;
}

.profile__data {
    background: transparent;
    border: none;
    font-family: inherit;
    font-size: inherit;
    color: inherit;
    text-align: right;
    height: 20px;
}

.profile__label,
.profile__data {
    margin: 0;
}

.profile__error {
    color: #EE3465;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    min-height: 12px;
    grid-column: 1/3;
}

.profile__buttons {
    align-self: end;
    display: flex;
    flex-direction: column;
    gap: 16px;

}

.profile-button {
    background: transparent;
    border: none;
    color: #FFF;
    font-family: inherit;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .profile__button {
        font-size: 12px;
        line-height: 15px;
        padding: 0;
    }

    .profile__buttons {
        gap: 14px;
    }
}

.profile-button:hover {
    opacity: 0.3;
}

.profile-button:disabled {
    opacity: 0.3;
}

.profile-button:hover:disabled {
    cursor: unset;
}

.profile-button_exit {
    font-weight: 500;
    color: #EE3465;
}