.profile {
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-columns: 1fr;
    align-items: start;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 410px;
    box-sizing: border-box;
    margin: 74px 30px 70px 30px;
}

@media only screen and (max-width: 1024px) {
    .profile {
        flex: none;
        grid-template-rows: 1fr 1fr 3fr;
        margin: auto 30px auto 30px;
    }
}

@media only screen and (max-width: 767px) {
    .profile {
        margin: 74px 30px 40px 30px;
    }
}

.profile__greeting {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
    margin: 0;
}

.profile__fields {
    margin-top: 10px;
}

.profile__field {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 16px 0;
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
}

.profile__field:not(:last-child) {
    border-bottom: #424242 1px solid;

}

.profile__label,
.profile__data {
    margin: 0;
}

.profile__buttons {
    align-self: end;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.profile-button {
    background: transparent;
    border: none;
    color: #FFF;
    font-family: inherit;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .profile__button {
        font-size: 12px;
        line-height: 15Spx;
    }
}

.profile-button:hover {
    opacity: 0.3;
}

.profile-button_exit {
    color: #EE3465;
}