.promo {
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 524px 66px;
    align-items: center;
    text-align: center;
    justify-content: center;
    background: no-repeat center 82px url('../../images/landing-logo.svg');
    background-color: #073042;
    width: 100%;
}

@media only screen and (max-width: 1024px) {
    .promo {
        background-position: center 224px;
        grid-template-rows: 784px 66px;
    }
}

@media only screen and (max-width: 767px) {
    .promo {
        background-size: 248px 248px;
        background-position: center 142px;
        grid-template-rows: 570px 66px;
    }
}

.promo__header {
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -2px;
    margin: 0 auto 40px auto;
    max-width: 730px;
}

@media only screen and (max-width: 1024px) {
    .promo__header {
        margin: 0 auto 20px auto;
    }
}

@media only screen and (max-width: 767px) {
    .promo__header {
        font-size: 31px;
        font-weight: 400;
        line-height: 39px;
        letter-spacing: -1.24px;
        margin: 0 auto 30px auto;
    }
}