.register {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20px auto;
    padding: 0 30px;
    width: 100%;
    max-width: 456px;
}

@media only screen and (max-width: 767px) {
    .register {
        padding: 56px 30px 30px 30px;
        justify-content: flex-start;
    }
}

@media only screen and (max-width: 767px) {
    .register__form {
        flex: 1;
        display: flex;
        flex-direction: column;
    }
}

.header_logo-only {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
}

@media only screen and (max-width: 767px) {
    .header_logo-only {
        align-items: center;
    }
}

.register__greeting {
    color: white;
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    margin: 40px 0;
}

@media only screen and (max-width: 767px) {
    .register__greeting {
        margin: 50px 0 80px 0;
    }
}

.register__inputs {
    display: flex;
    flex-direction: column;
    margin-bottom: 69px;
}

@media only screen and (max-width: 767px) {
    .register__inputs {
        flex: 1;
        margin-bottom: 20px;
    }
}

.register__input {
    background-color: #2F2F2F;
    box-sizing: border-box;
    border-radius: 8px;
    border: none;
    height: 46px;
    color: #FFF;
    font-size: 13px;
    font-weight: 400;
    line-height: 16px;
    padding: 15px 15px;
    margin-bottom: 10px;
}

.register__input_error {
    color: #EE3465;
}

.form__input-error {
    margin-bottom: 10px;
    color: #EE3465;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
}

.form__field {
    margin-bottom: 10px;
    color: #8B8B8B;
    font-size: 10px;
    font-weight: 400;
    line-height: 12px;
}

.save-button {
    width: 100%;
    height: 45px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 500;
    line-height: 17px;
    color: #FFFFFF;
    background: #4285F4;
    border-radius: 3px;
    border: none;
    cursor: pointer;
    margin-bottom: 16px;
}

@media only screen and (max-width: 767px) {
    .save-button {
        margin-bottom: 14px;
        font-size: 12px;
        line-height: 15px;
    }
}

.save-button:hover {
    opacity: 0.8;
}

.save-button:disabled {
    background-color: #3b3b3b;
    color: #595959;
    cursor: unset;
}

.register__signup {
    display: inline;
    text-align: center;
    color: #8B8B8B;
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin: 0;
}

@media only screen and (max-width: 767px) {
    .register__signup {
        font-size: 12px;
        line-height: 15px;
    }
}

.register__login-link {
    color: #4285F4;
    font-size: 14px;
    font-weight: 400;
    text-decoration: none;
}

@media only screen and (max-width: 767px) {
    .register__login-link {
        font-size: 12px;
        line-height: 15px;
    }
}

.register__login-link:hover {
    opacity: 0.6;
    cursor: pointer;
}