.nav-tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #272727;
    padding: 0;
    height: 66px;
    width: 100%;
}

.nav-tab__items {
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    margin: 0;
}

.nav-tab__link {
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    margin: 0 40px 0 0;
    cursor: pointer;
}

@media only screen and (max-width: 767px) {
    .nav-tab__link {
        font-size: 11px;
        margin: 0 24px 0 0;
    }
}

.nav-tab__link:hover {
    opacity: 0.3;
}